<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Home Page</title>
  </head>
  <body style="background-color:skyblue;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <strong><p class="font-italic"> <a class="navbar-brand" href="#" >User Authentication</a></p></strong>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">DashBoard</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Course</a>
          </li>
    
        </ul>
        
         <strong><h4><a href="/">Register</a></h4></strong> 
      </div>
     
      
    </nav>
<center><br>
  <br>
<h1>welcome to home page</h1>
</center>  
  </body>
</html>
